body {
	background-image:
		url("./img/bg.png");
	
	background-color:#222;
	margin:0;
}
#frame {
	width:60%;
	min-width:800px;
	padding:20px;
	
	margin-left:auto;
	margin-right:auto;
	background-color:white;
	font-family:courier;
	border-style:solid;
	border-width:0px;
	border-color:gray;
	border-left-width:1px;
	border-right-width:1px;
}
#name {
	font-size:72px;
}
#about td {
	min-width:100px;
}
#projects {
	
}
#contactinfo {
	text-align:center;
}
.nav {
	text-align:center;
	padding-bottom:20px;
}
.nav a{
	color:black;
	font-size:18px;
}
.headerimg {
	max-width:100%;
	margin:auto;
}
.sectiontitle {
	font-size:32px;
	font-weight:bold;
}
.subsectiontitle{
	font-size:18px;
	font-weight:bold;
}
.projecttitle {
	font-size:24px;
	font-weight:bold;
	padding-left:15px;
}
.projectcredits {
	font-size:12px;
	color:gray;
	padding-left:15px;
	height:20px;
}
.projectcontent {
	vertical-align:text-top;
	padding-left:15px;
}
.projectstable img{
	width:250px;
}
.projectlinks {
	padding-left:15px;
	font-size:14px;
	align:center;
}
.spacer {
	
}
.gallery {
	
	text-align:center;
}
.gallery img {
	max-width:100%;
}
.gallery hr {
	color:black;
	font-size:72px;
}
.caption {
	text-size:24px;
	font-weight:bold;
	color:gray;
}
.standalonelinks {
	text-align:center;
	line-height:72px;
	font-size:18px;
}